@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

:root {
  --bg-color: #1A0B2E;
  --second-bg-color: #230E3D;
  --green-color: #00FF88;
  --white-color: #fff;
}

body {
  color: var(--white-color);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

section {
  width: 100%;
  padding: 7rem 10% 10rem;
  scroll-margin: 70px;
  margin-top: -3rem;
}

/* header style */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 0 10%;
  background: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  border-bottom: .1rem solid rgba(255, 255, 255, .2);
}

.logo {
  font-size: 4rem;
  font-weight: 900;
  color: var(--white-color);
}

.logo span {
  background: linear-gradient(45deg, #f06, #3cf);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.navbar a {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--white-color);
  margin: 0 2.5rem;
}

.btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 2.5rem;
  border-radius: 4rem;
  font-size: 1.4rem;
  color: var(--white-color);
  font-weight: 600;
  letter-spacing: .1rem;
  z-index: 1;
}

.btn i {
  font-size: 2rem;
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  background: linear-gradient(45deg, #f06, #3cf, #f06);
  background-position: 0 0;
  background-size: 200%;
  z-index: -1;
  border-radius: 4rem;
  background-size: 200%;
  filter: blur(5px);
  transition: .5s ease;
}

.btn:hover::before {
  background-position: 100% 0;
}

.btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  background: linear-gradient(45deg, #f06, #3cf, #f06);
  background-position: 0 0;
  background-size: 200%;
  z-index: -1;
  border-radius: 4rem;
  transition: .5s ease;
}

.btn:hover::after {
  background-position: 100% 0;
}

#menu-icon {
  font-size: 4rem;
  cursor: pointer;
  display: none;
}


/* home style */
.home {
  width: 100%;
  min-height: calc(100vh - 70px);
  margin-top: 70px;
  padding: 8rem 10%;
  background: url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.home-img .img-box {
  position: relative;
  width: 40rem;
  height: 40rem;
  border-radius: 50%;
  background: url(./assets/hero-circle.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-box .badge {
  position: absolute;
  top: 1.5rem;
  right: 5rem;
}

.img-box .badge span {
  display: inline-block;
  padding: .8rem 1.5rem;
  background: var(--green-color);
  font-size: 1.6rem;
  border-radius: 4rem;
  color: var(--bg-color);
  font-weight: 600;
  text-transform: uppercase;
  box-shadow: 0 0 1rem var(--bg-color);
}

.home-content {
  margin-top: 2rem;
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 800;
  letter-spacing: .2rem;
}

.home-content p {
  font-size: 1.6rem;
  margin: 1rem 0 2.5rem;
}

.btn-box .btn {
  margin: .5rem;
}

.btn-box .btn i {
  margin-right: .5rem;
}

.btn-box .btn.btns::before {
  background: none;
}

.btn-box .btn.btns::after {
  background: none;
}

.btn-box .btn.btns {
  padding: 1rem 2.5rem;
  color: var(--green-color);
  border: .2rem solid var(--green-color);
  transition: .5s;
}

.btn-box .btn.btns:hover {
  background: var(--green-color);
  color: var(--bg-color);
  box-shadow: 0 0 1rem var(--green-color);
}

/* podcast style */
.podcast {
  background: var(--bg-color);
}

.podcast-content {
  text-align: center;
}

.title {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 4rem;
}

.podcast-content p {
  text-align: center;
  max-width: 75rem;
  margin: 2rem auto;
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 2;
}

.podcast hr {
  border-top: .1rem solid rgba(255, 255, 255, .1);
  margin: 5rem 0;
}

.podcast-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5rem;
  flex-wrap: wrap;
}

.podcast-box .podcast-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 3rem;
}

.podcast-items h1 {
  font-size: 4rem;
  font-weight: 900;
  color: var(--green-color);
  margin-bottom: 1rem;
  letter-spacing: .2rem;
}

.podcast-items h5 {
  font-size: 1.2rem;
  font-weight: 200;
  text-transform: uppercase;
}

/* choose style */
.choose {
  background: var(--second-bg-color);
}

.choose-box {
  display: grid;
  gap: 2.5rem;
  grid-template-areas: 
  "choose-item-1 choose-item-2 choose-item-2"
  "choose-item-1 choose-item-3 choose-item-3"
  "choose-item-4 choose-item-4 choose-item-5";
}


.choose-items {
  background: #2A0F4D;
  padding: 3rem;
  border-radius: 3rem;
}

.choose-items:nth-child(1) {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  flex-direction: column;
}

.choose-items h3 {
  font-size: 2rem;
  margin: 1.5rem 0;
}

.choose-items p {
  font-size: 1.4rem;
  font-weight: 200;
  line-height: 1.5;
}

/* episodes style */
.episodes {
  background: var(--bg-color);
}

.episodes-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.episodes-box .episode-items {
  background: var(--second-bg-color);
  border-radius: 2rem;
  overflow: hidden;
}

.episode-items .episode-content {
  padding: 1.5rem 3rem 2.5rem;
}

.episode-content h2 {
  font-size: 2.1rem;
  margin: 0 0 1rem;
}

.episode-content p {
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1.4;
}

.episode-content .time {
  margin-top: 1.5rem;
  color: var(--green-color);
  font-size: 1.5rem;
}

/* host style */
.host {
  background: var(--bg-color);
}

.host .host-box {
  display: flex;
  align-items: center;
  background: var(--second-bg-color);
  border-radius: 3rem;
  padding: 3rem 4rem;
  gap: 3rem;
}

.host-img .img-box {
  position: relative;
  width: 15vw;
  height: 15vw;
  padding: .5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.host-img .img-box::before, 
.host-img .img-box::after {
  content: '';
  position: absolute;
  width: 50rem;
  height: 50rem;
  background: conic-gradient(transparent, transparent, transparent, #3cf);
  transform: rotate(0deg);
  animation: rotateBorder 10s linear infinite;
}

.host-img .img-box::after {
  animation-delay: -5s;
}

@keyframes rotateBorder {
  100% {
    transform: rotate(360deg);
  }
}

.host-img .img-box .img-item {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--second-bg-color);
  border-radius: 50%;
  border: .01rem solid var(--second-bg-color);
  z-index: 1;
  overflow: hidden;
}

.host-img .img-box .img-item img {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  object-fit: cover;
  mix-blend-mode: lighten;
}


.host-content h2 {
  font-size: 3rem;
}

.host-content p {
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 1.6;
  margin: 1rem 0 2.5rem;
}

.social-icon a {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background:  linear-gradient(45deg, #f06, #3cf, #f06);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--white-color);
  margin-right: 1rem;
  z-index: 1;
  transition: .5s ease;
}

.social-icon a:hover {
  color: var(--second-bg-color);
}

.social-icon a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background:  linear-gradient(45deg, #f06, #3cf, #f06);
  border-radius: 50%;
  z-index: -1;
  transition: .5s ease;
}

.social-icon a:hover::before {
  filter: blur(5px);
}

.social-icon a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--second-bg-color);
  border-radius: 50%;
  transform: scale(.88);
  z-index: -1;
  transition: .5s ease;
}

.social-icon a:hover::after {
  transform: scale(0);
}

/* footer style */
.footer {
  background: var(--second-bg-color);
  padding: 10rem 0;
  background: url(./assets/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer .footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-bottom: 1rem;
}

.footer-content .logo.footer {
  font-size: 7rem;
}

.footer-item-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.footer-item-box .footer-item {
  font-size: 1.4rem;
  margin: 1rem 0 2.5rem;
}

.footer-item-box .footer-item i {
  font-size: 2rem;
  vertical-align: middle;
  margin-right: .5rem;
}

.footer-content .copyright-text p {
  font-size: 1.5rem;
  font-weight: 400;
}







/* BREACKPOINTS */
@media screen and (max-width: 829px) {
  .header {
    padding: 0 5%;
  }

  section {
    padding: 7rem 5% 5rem;
  }

  footer {
    padding: 5rem 0;
  }

  .episodes-box {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 733px) {
  .navbar {
    display: none;
  }

  .nav-btn {
    display: none;
  }

  #menu-icon {
    display: block;
  }

  .footer-content .logo.footer {
    font-size: 5rem;
  }
}











