@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

:root {
  --bg-color: #1A0B2E;
  --second-bg-color: #230E3D;
  --green-color: #00FF88;
  --white-color: #fff;
}

body {
  color: var(--white-color);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

/* header style */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 0 10%;
  background: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  border-bottom: .1rem solid rgba(255, 255, 255, .1);
}

.logo {
  font-size: 4rem;
  font-weight: 900;
  color: var(--white-color);
}

.logo span {
  background: linear-gradient(45deg, #f06, #3cf);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.navbar a {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--white-color);
  margin: 0 2.5rem;
}

.btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 2.5rem;
  border-radius: 4rem;
  font-size: 1.4rem;
  color: var(--white-color);
  font-weight: 600;
  letter-spacing: .1rem;
  z-index: 1;
}

.btn i {
  font-size: 2rem;
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  background: linear-gradient(45deg, #f06, #3cf, #f06);
  background-position: 0 0;
  background-size: 200%;
  z-index: -1;
  border-radius: 4rem;
  background-size: 200%;
  filter: blur(5px);
  transition: .5s ease;
}

.btn:hover::before {
  background-position: 100% 0;
}

.btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  background: linear-gradient(45deg, #f06, #3cf, #f06);
  background-position: 0 0;
  background-size: 200%;
  z-index: -1;
  border-radius: 4rem;
  transition: .5s ease;
}

.btn:hover::after {
  background-position: 100% 0;
}

#menu-icon {
  font-size: 4rem;
  cursor: pointer;
  display: none;
}


/* home style */
.home {
  width: 100%;
  min-height: calc(100vh - 70px);
  margin-top: 70px;
  padding: 0 10%;
  background: url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.home-img .img-box {
  position: relative;
  width: 40rem;
  height: 40rem;
  border-radius: 50%;
  background: url(./assets/hero-circle.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-box .badge {
  position: absolute;
  top: 1.5rem;
  right: 5rem;
}

.img-box .badge span {
  display: inline-block;
  padding: .8rem 1.5rem;
  background: var(--green-color);
  font-size: 1.6rem;
  border-radius: 4rem;
  color: var(--bg-color);
  font-weight: 600;
  text-transform: uppercase;
  box-shadow: 0 0 1rem var(--bg-color);
}

.home-content {
  margin-top: 3rem;
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 800;
  letter-spacing: .2rem;
}

.home-content p {
  font-size: 1.6rem;
  margin: 1rem 0 2.5rem;
}

.btn-box .btn {
  margin: .5rem;
}

.btn-box .btn i {
  margin-right: .5rem;
}

.btn-box .btn.btns::before {
  background: none;
}

.btn-box .btn.btns::after {
  background: none;
}

.btn-box .btn.btns {
  padding: 1rem 2.5rem;
  color: var(--green-color);
  border: .2rem solid var(--green-color);
  transition: .5s;
}

.btn-box .btn.btns:hover {
  background: var(--green-color);
  color: var(--bg-color);
  box-shadow: 0 0 1rem var(--green-color);
}






@media screen and (max-width: 576px) {
  html {
    font-size: 75%;
  }

  .header {
    padding: 2rem 5%;
  }

  .home {
    padding: 0 5%;
  }
}











